@import "bootstrap/scss/bootstrap";

html {
  overflow-y: auto;
}

.icon-align {
  display: inline-flex;
  align-items: center;

  svg {
    vertical-align: middle;
    position: relative;
    top: 2px;
    font-size: 18px;
  }
}

.icon-align-custom {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  svg {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    font-size: 16px;
  }
}

.btn.btn-upcoming {
  background-color: #f6aa1c;
  border-color: #f6aa1c;
  color: white;

  &:hover {
    background-color: #e59417;
    border-color: #d98312;
    color: white;
  }

  &:disabled {
    background-color: #ffd382;
    border-color: #ffd382;
    color: white;
  }
}

.btn.btn-longweekends {
  background-color: #606c38;
  border-color: #606c38;
  color: white;

  &:hover {
    background-color: #4e572d;
    border-color: #3f4725;
    color: white;
  }

  &:disabled {
    background-color: #a4ad87;
    border-color: #a4ad87;
    color: white;
  }
}